<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="https://img.icons8.com/fluent/48/000000/keyhole-shield.png"/>
  <span>Тестирование</span>
  <div class="spacer"></div>
  <a *ngIf="!is_logged" class="navigation-link" style="color: #ffffff; margin: 0 16px;" href="/login">
    <span>Вход</span>
  </a>
  <a *ngIf="is_logged" class="navigation-link" style="color: #ffffff; margin: 0 16px;" href="/api/auth/logout">
    <span>Выход</span>
  </a>
</div>

<router-outlet></router-outlet>
