<div class="container-tests">
  <div class="loading-shade"
       *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isLoading">
      Ожидание
    </div>
  </div>
  <div *ngFor="let question of testData.questions">
    <div class="question-card-container">
      <mat-card class="question-card">
        <mat-card-title>{{question.questionText}}</mat-card-title>
        <mat-card-content>
          <mat-radio-group aria-label="Выберите 1 ответ" class="radio-group">
            <mat-radio-button value="1" class="radio-button">
              <span class="wrap-mat-radio-label">
                {{question.answer1}}
              </span>
            </mat-radio-button>
            <mat-radio-button value="2" class="radio-button">
              <span class="wrap-mat-radio-label">
                {{question.answer2}}
              </span>
            </mat-radio-button>
            <mat-radio-button value="3" class="radio-button">
              <span class="wrap-mat-radio-label">
                {{question.answer3}}
              </span>
            </mat-radio-button>
            <mat-radio-button value="4" class="radio-button">
              <span class="wrap-mat-radio-label">
                {{question.answer4}}
              </span>
            </mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">Ответить</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
