.main-container {
  max-width: 1000px;
  margin: 80px auto 0 auto;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.question-card-mobile {
  padding: 0 20px 20px 20px;
  max-width: 600px;
  margin: 0 auto;
  bottom: 0;
}

.question-card {
  margin: 0 auto;
}

.wrap-mat-radio-label {
  white-space: normal;
}




